{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

    {% if error %}
        <div class="alert alert-danger w-fit m-auto">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}


    <div class="login-box">
        <h2>Login</h2>
        <form method="POST">
            <div class="user-box">
                <input type="text" name="email" required="" value="{{ last_username }}" autofocus autocomplete="email">
                <label>Email</label>
            </div>
            <div class="user-box">
                <input type="password" name="password" required="" autocomplete="current-password">
                <label>Password</label>
            </div>
            <a href="{{ path('app_register') }}" class='login-links'>Sign up</a>
            <br>
            <a href="{{ path('app_reset_password') }}" class='login-links'>Forgot password?</a>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

            <button type="submit">
                Submit
            </button>
        </form>
    </div>
{% endblock %}
