{% extends 'base.html.twig' %}
{% block title %}Home{% endblock %}

{% block body %}



    <swiper-container class="mySwiper" pagination-clickable="true" navigation="false" space-between="30"
                      centered-slides="true" autoplay-delay="2500" autoplay-disable-on-interaction="false" pagination="false">
        <swiper-slide>Slide 1</swiper-slide>
        <swiper-slide>Slide 2</swiper-slide>
        <swiper-slide>Slide 3</swiper-slide>
    </swiper-container>

    <div class="info-container">

        <p>
            For more info : 76 686 498
        </p>
    </div>


    <div class="m-auto w-fit">
        {{ form_start(form, {
            "attr" : {"class" : "searchForm-homePage"}
        }) }}

        <div class="d-flex flex-column flex-wrap gap-3 search-div align-items-center w-100">
            {{ form_widget(form.gameName , {"attr" : {"class": "mx-auto"}}) }}
            {{ form_label(form.gameName, 'Search', {'label_attr': {'class': 'm-auto'}}) }}


        </div>


        <div class="col-12 text-center mt-2">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>


        {{ form_end(form) }}
    </div>
    <section class="products flex-row">

    {% if categories %}

        {% for category in categories %}

            <a class="product-container" href="view-product?c={{ category.id }}">

                <div class="product">

                    {% if category.url %}
                        <img class="" src="{{ asset('assets/images/categories/') }}{{ category.url }}"
                             alt="{{ category.name }}">

                    {% else %}
                        <img class="" src="{{ asset('img.png') }}"
                             alt="{{ category.name }}">

                    {% endif %}
                    <h6>{{ category.name }}</h6>

                </div>
            </a>

        {% endfor %}

        </section>

        <div class="navigation m-auto w-fit">
            {{ knp_pagination_render(categories, '@KnpPaginator/Pagination/bootstrap_v5_pagination.html.twig') }}
        </div>

    {% else %}
        <h2 class="w-fit mx-auto text-white">No items for this search</h2>

    {% endif %}


    <!--
    <div class="services-slider">


            <div class="slide">
                <img src="{{ asset('assets/images/services/alfa.jpg') }}" height="100" width="250" alt=""/>
            </div>

            <div class="slide">
                <img src="{{ asset('assets/images/services/whish.png') }}" height="100" width="250" alt=""/>
            </div>

            <div class="slide">
                <img src="{{ asset('assets/images/services/mtc.png') }}" height="100" width="250" alt=""/>
            </div>

            <div class="slide">
                <img src="{{ asset('assets/images/services/western.jpg') }}" height="100" width="250" alt=""/>
            </div>

            <div class="slide">
                <img src="{{ asset('assets/images/services/maleye.jpg') }}" height="100" width="250" alt=""/>
            </div>


    </div>

-->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
{% endblock %}





