{% extends 'base.html.twig' %}


{% block body %}
    <div class="m-auto w-fit">
        {{ form_start(form, {
            "attr" : {"class" : "searchForm-homePage"}
        }) }}

        {{ form_label(form.gameName, 'Game Name :', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.gameName , {"attr" : {"class": "form-control"}}) }}
        <div class="col-12 text-center mt-2">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        {{ form_end(form) }}
    </div>
    <section class="products">


        {% for category in categories %}

            <a class="product-container" href="view-product?c={{ category.id }}">

                <div class="product">

                    <img class="" src="{{ asset('images/test.png') }}"
                         alt="{{ category.name }}">
                    <h6>{{ category.name }}</h6>

                </div>
            </a>

        {% endfor %}

    </section>

    <div class="navigation m-auto w-fit">
        {{ knp_pagination_render(categories, '@KnpPaginator/Pagination/bootstrap_v5_pagination.html.twig') }}
    </div>


{% endblock %}
