{% extends 'base.html.twig' %}
{% block title %}Home
{% endblock %}

{% block body %}

	<a href="/shopping-basket">

		<i class="fa-solid fa-basket-shopping shopping-basket"></i>
	</a>


	<swiper-container class="mySwiper" pagination-clickable="true" navigation="false" space-between="30" centered-slides="true" autoplay-delay="2500" autoplay-disable-on-interaction="false" pagination="false">
		<swiper-slide><img src="{{ asset('assets/images/banner/slide-1.jpeg') }}" alt="slide-1"></swiper-slide>
		<swiper-slide><img src="{{ asset('assets/images/banner/slide-2.jpeg') }}" alt="slide-2"></swiper-slide>
		<swiper-slide><img src="{{ asset('assets/images/banner/slide-3.jpeg') }}" alt="slide-3"></swiper-slide>
	</swiper-container>

	<div class="info-container">

		<p>
			For more info :
			<a style="font-weight: 500;text-decoration: none;color: black" href="tel:0096176686498">76 686 498</a>
		</p>
	</div>


	<div class="m-auto" style="max-width: 600px ;width: 90%">

		<div name="search_type_form" class="searchForm-homePage">

			<div class="d-flex flex-column flex-wrap gap-3 search-div align-items-center justify-content-end w-100">

				<input type="text" id="search_type" name="search_type" class="mx-auto">
				<label class="m-auto" for="search_type_form_gameName">Search</label>


			</div>

		</div>

	</div>
	<section class="products-home flex-row">


	</section>


	<div class="services-slider">

		<div class="trace">
			<div class="slide">
				<img src="{{ asset('assets/images/services/alfa.jpg') }}" height="100" width="250" alt=""/>
			</div>

			<div class="slide">
				<img src="{{ asset('assets/images/services/whish.png') }}" height="100" width="250" alt=""/>
			</div>

			<div class="slide">
				<img src="{{ asset('assets/images/services/mtc.png') }}" height="100" width="250" alt=""/>
			</div>

			<div class="slide">
				<img src="{{ asset('assets/images/services/western.jpg') }}" height="100" width="250" alt=""/>
			</div>

			<div class="slide">
				<img src="{{ asset('assets/images/services/maleye.jpg') }}" height="100" width="250" alt=""/>
			</div>


			<div class="slide">
				<img src="{{ asset('assets/images/services/alfa.jpg') }}" height="100" width="250" alt=""/>
			</div>

			<div class="slide">
				<img src="{{ asset('assets/images/services/whish.png') }}" height="100" width="250" alt=""/>
			</div>

			<div class="slide">
				<img src="{{ asset('assets/images/services/mtc.png') }}" height="100" width="250" alt=""/>
			</div>

			<div class="slide">
				<img src="{{ asset('assets/images/services/western.jpg') }}" height="100" width="250" alt=""/>
			</div>

			<div class="slide">
				<img src="{{ asset('assets/images/services/maleye.jpg') }}" height="100" width="250" alt=""/>
			</div>


		</div>


	</div>


	<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>

	<script>
const input = document.querySelector("#search_type");

if (input.value) {
  document
    .querySelector("#search_type + label")
    .classList.add("translateAndResize");
} else {
  document
    .querySelector("#search_type + label")
    .classList.remove("translateAndResize");
}
input.addEventListener("blur", function (event) {
  const value = event.target.value;

  if (value) {
    document
      .querySelector("#search_type + label")
      .classList.add("translateAndResize");
  } else {
    document
      .querySelector("#search_type + label")
      .classList.remove("translateAndResize");
  }
});

// Load more products on scrolling

let container = document.querySelector(".products-home");
let isFetching = false;
let hasMore = true;
let offSet = 0;
let isLoading = true;
let isFiltering = false;

async function fetchData(offset, url) {
  isFetching = true;

  try {
    let response = await fetch(`/${url}?offset=${offset}`);
    let data = await response.json();


    isFetching = false;
    isFiltering = false; // / it is true when the user is filtering using search bar

    if (data.max) {
      hasMore = false;
      return;
    }

    removeLoadingSpin();

    for (let category of data.categories) {
      let a = document.createElement("a");
      a.classList.add("product-container-home");
      a.setAttribute("href", `view-product?c=${category.id}`);

      let div = document.createElement("div");
      div.classList.add("product-home");

      let h6 = document.createElement("h6");
      h6.innerText = category.name;

      let image = document.createElement("img");

      if (category.url) {
        image.setAttribute("src", `assets/images/categories/${category.url}`);
      } else {
        image.setAttribute("src", `assets/images/logo.png`);
      }
      image.setAttribute("alt", category.name);

      div.appendChild(image);
      div.appendChild(h6);
      a.appendChild(div);

      container?.appendChild(a);
    }

    offSet++;
  } catch (error) {
    console.log(error);
  }
}

window.addEventListener("scroll", function () {
  
  if(input.value) return; // dont fetch data if there is a value inside the search bar
  
  if (isFetching || isFiltering || isLoading) {
    return;
  }

  if (window.innerHeight + window.scrollY >= document.body.offsetHeight) {
    fetchData(offSet, "load-categories");
  }
});

fetchData(offSet, "load-categories"); // fetch some categories when loading

/// Searching for specific category
{# 

input.addEventListener('focus', () => {
    console.log('focused');


    // Check if the document height is below 950 pixels
    if (window.innerWidth < 950) {
        // Scroll to 75 pixels from the top of the viewport
        input.scrollIntoView({
            top: 500,
            behavior: 'smooth' // Optional: Adds a smooth scrolling effect
        });
    }
}); #}
// the input is declared at the top of the script
  input.addEventListener("input", async function (event) {

console.log(input.value);

    if(isLoading){
      input.value= '';

      return;
    }

    if(isFiltering){
      if(!input.value){
      return;

      }
    }

    offset = 0;
    hasMore = true;
    isFiltering = true;

    let value = event.target.value;

    if (value) {
      console.log("there is a value");
      try {
        let response = await fetch("search-categories-by-name?n=" + value);
        let data = await response.json();

        document.querySelector(".products-home").innerHTML = "";
        for (let category of data.categories) {
          let a = document.createElement("a");
          a.classList.add("product-container-home");
          a.setAttribute("href", `view-product?c=${category.id}`);

          let div = document.createElement("div");
          div.classList.add("product-home");

          let h6 = document.createElement("h6");
          h6.innerText = category.name;

          let image = document.createElement("img");

          if (category.url) {
            image.setAttribute("src", `assets/images/categories/${category.url}`);
          } else {
            image.setAttribute("src", `assets/images/logo.png`);
          }
          image.setAttribute("alt", category.name);

          div.appendChild(image);
          div.appendChild(h6);
          a.appendChild(div);
          isFiltering = false;
          container?.appendChild(a);
        }
      } catch (error) {
        console.error("Error:", error);
      }
    } else {

      isFiltering = false;
      document.querySelector(".products-home").innerHTML = "";
      console.log(document.querySelector(".products-home"));
      if (window.innerHeight + window.scrollY >= document.body.offsetHeight) {
    
}


      offSet = 0;
      fetchData(offset, "load-categories");

    }
  });

//Loading spin
function addLoadingSpin() {
  if (container) {
    container.innerHTML = `<div class="loader-container">
					<div class="loader"></div>
				</div>`;
    isLoading = true;
  }
}

function removeLoadingSpin() {
  if (container) {
    let loaderContainer = container.querySelector(".loader-container");

    if (loaderContainer) {
      loaderContainer.remove();
    }
    isLoading = false;
  }
}
addLoadingSpin(); // add the loading spin till we have have categories to display

	</script>
{% endblock %}
