<h2 style="width: fit-content;margin: 20px auto 0 auto" >Reset your account password?</h2>

{{ form_start(form , {"attr" : { "class" : "reset-password-form"}}) }}
    {% if not form.vars.valid %}
        <div class="alert alert-danger">
            {{ form_errors(form) }}
            {% for children in form.children %}
                {% if not children.vars.valid %}
                    {{ form_errors(children) }}
                {% endif %}
                {% for child in children %}
                    {% if not child.vars.valid %}
                        {{ form_errors(child) }}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
    {% endif %}

{{ form_row(form.email) }}

<style>
    .reset-password-form{
        width: 300px;
        margin: 20px auto;
        text-align: center;
        background: #6969db;
        padding: 25px;
        border-radius: 15px;
    }

    .reset-password-form input:focus{
        outline: none;
    }

    .reset-password-form >div{
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    .reset-password-form button{
        margin: 15px auto;
        width: fit-content;
        text-align: center;
        text-decoration: none;
        color: black;
        padding: 5px 10px;
        border-radius: 5px;
        font-weight: 700;
        background: #4ccd4c;
        display: block;
        outline: none;
        border: none;
        cursor: pointer;
        }

</style>

<button type="submit" class="btn btn-success">Reset password</button>



{{ form_end(form) }}
