<div class="aside">
    <i class="fa-regular fa-circle-xmark close-menu" style="font-size: 24px;color: red;display: flex !important;
    height: 50px;
    width: 50px;
    margin: 5px auto 25px auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 50%;"></i>

    {% if not app.user %}

        <div class="aside-login">

            <h3>Login</h3>
            <h4>Login to get access to our online store</h4>
            <a href="{{ path('app_login') }}">Login</a>

        </div>

    {% else %}


        <div class="aside-user-info">

            <span class="user-first-letter">{{ app.user.firstName|slice(0, 1)|capitalize }}</span>
            <span class="user-full-name">{{ app.user.firstName|capitalize }} {{ app.user.lastName|title }}</span>

            <span class="balance">{{ app.user.currentBalance }} <i
                        class="fa-solid fa-dollar-sign"></i></span>

            <div class="user-more">

                <a href='{{ path('app_user_profile') }}' class="user-profile" style="color: #0a53be">

                    <i class="fa-solid fa-user"></i>

                </a>
                <a href='{{ path('app_user_profile_edit') }}' class="user-profile-edit" style="color: green">

                    <i class="fa-solid fa-user-pen"></i>

                </a>


                <a href='{{ path('app_logout') }}' class="logout" style="color:red">

                    <i class="fas fa-sign-out-alt"></i>

                </a>
            </div>

            {% if user is defined and user.orders %}

                <a href="{{ path('app_my_orders') }}" style="display: block;
                margin: auto;
                width: fit-content;
                text-decoration: none;
                color: white;
                padding: 5px;
                background-color: forestgreen;
                border-radius: 5px;">Have a look at my orders</a>

            {% endif %}

        </div>



    {% endif %}

    <hr style="width: 100%">

    <div class="nav">

        <a href="/" class="aside-link aside-home"><i class="fa-solid fa-house"></i> <span>Home</span></a>
        <a href='{{ path('app_accessories') }}' class="aside-link aside-accessories">

            <i class="fa-solid fa-hat-wizard" style="color:yellow"></i></i><span>Accessories</span>

        </a>

        <a href='{{ path('app_telecommunication' , { 'cn' : 'Alfa'}) }}' class="aside-link aside-alfa">

            <i class="fa-solid fa-sim-card" style="color:#e7374e;"></i></i><span>Alfa</span>

        </a>

        <a href='{{ path('app_telecommunication' , { 'cn' : 'Mtc' }     ) }}' class="aside-link aside-mtc">

            <i class="fa-solid fa-sim-card" style="color:#489cbd;"></i></i><span>Mtc</span>

        </a>


        {% if is_granted('ROLE_ADMIN') %}

            <a href='{{ path('admin') }}' class="aside-link admin">

                <i class="fa-solid fa-user-tie" style="color:#2dbbe2"></i></i><span>Admin</span>

            </a>

        {% else %}
            <a href='' class="aside-link admin require-admin">

                <i class="fa-solid fa-user-tie" style="color:#2dbbe2"></i></i><span>Admin</span>

            </a>

        {% endif %}
        <a style='color: gray;pointer-events: none' class="about-us aside-link"><i style="color: gray"
                                                                                   class="fa-solid fa-user-gear"></i>
            <span>About Us</span></a>

    </div>


    <hr style="width: 100%">


    <div class="contact-apps-container">

        <a class="whatsapp-link" href="https://wa.me/96176686498/?text=Hello Blue Wave Team!"><i
                    class="fa-brands fa-whatsapp"></i></a>
        <a class="tiktok-link" href="https://www.tiktok.com/@blue.wave.tecno.center"><i class="fa-brands fa-tiktok"></i></a>
        <a class="insta-link" href="https://www.instagram.com/bluewave_techno_center"><i
                    class="fa-brands fa-instagram"></i></a>


    </div>

</div>

<script>
    const links = document.querySelectorAll('.aside-link');
    let pageTitle = document.querySelector('title').innerHTML;


    switch (pageTitle) {
        case 'Accessories' :
            document.querySelector('.aside-accessories').style.backgroundColor = 'rgb(90 121 147)';
            break;

        case 'Home':
            document.querySelector('.aside-home').style.backgroundColor = 'rgb(90 121 147)';
            break;

        case 'Telecommunication-Mtc':
            document.querySelector('.aside-mtc').style.backgroundColor = 'rgb(90 121 147)';
            break;

        case 'Telecommunication-Alfa':
            document.querySelector('.aside-alfa').style.backgroundColor = 'rgb(90 121 147)';
            break;

        case 'About-us' :
            document.querySelector('.aside-about').style.backgroundColor = 'rgb(90 121 147)';


    }
    links.forEach(function (link) {
        link.addEventListener('click', function (event) {
            let element = event.currentTarget;

            for (let i = 0; i < links.length; i++) {
                if (links[i] != element) {
                    links[i].style.backgroundColor = 'transparent'
                }
            }

            element.style.backgroundColor = 'rgb(90 121 147)';

        })
    });

    const burgerMenu = document.querySelector('.burger-icon');
    const closeMenu = document.querySelector('.close-menu');
    const asideContainer = document.querySelector('.aside');

    const headerLeftSide = document.querySelector('.header-left-side');

    const addBalanceBtn = document.querySelector('.add-balance');


    // closing aside container when it is opened and we click outside
    document.addEventListener('click', function (event) {

        const predectedBurgerIcon = event.target.closest('a');
        const clickedInsideAside = event.target.closest('.aside');

        if (predectedBurgerIcon != burgerMenu && asideContainer.classList.contains('aside-opened') && !clickedInsideAside) {

            asideContainer.classList.remove('aside-opened');
            document.body.classList.remove('smaller');

        }

    })

    if (burgerMenu) {
        burgerMenu.addEventListener('click', function () {
            document.body.classList.toggle('smaller');
            asideContainer.classList.toggle('aside-opened');
        })
    }
    ;

    if (closeMenu) {
        closeMenu.addEventListener('click', function () {
            document.body.classList.toggle('smaller');
            asideContainer.classList.toggle('aside-opened');
        })
    }


    if (headerLeftSide) {
        headerLeftSide.addEventListener('click', function () {
            window.location.href = '/';
        });
    }
    ;

    if (addBalanceBtn) {

        addBalanceBtn.addEventListener('click', function () {
            window.alert('Service not available yet! ')
        })
    }
    ;

</script>
