<style>
    .aside{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 100vh;
        width: 0px;
        padding: 15px 10px;
        border-left-width: 2px;
        border-left-color: #645f5f;
        border-left-style: solid;
        position: fixed;
        top: 0;
        right: -270px;
        background-color: transparent;
        transition:  0.3s;
        transition-property: right ,width;
        color: white;

    &.aside-opened{
         right: 0;
         width: 250px;
     }


    .aside-login{

        height: fit-content;
        padding: 16px;
        background: #4969b5;
        border-radius: 25px;

    h3{
        font-size: medium;
    }

    h4{
        font-size: larger;
    }

    a{
        display: inline-block;
        border-radius: 25px;
        text-decoration: none;
        width: 95%;
        color: white;
        font-size: 14px;
        background-color: #1c7430;
        padding: 2px 0;
        text-align: center;
    }
    }

    .aside-user-info{
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        justify-content: space-evenly;

    .user-first-letter{
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        font-size: 18px;
        font-weight: 900;
        background-color: #da59d7;

    }

    .balance{
        font-size: medium;
        display:flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        width: fit-content;
        gap: 5px;

    i{
        font-size: x-small;
    }
    }

    .user-more{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;

    a{
        text-decoration: none;
        color: white;
        font-size: 16px;
        font-weight: 700;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        text-align: center;
        border-radius: 5px;
        align-items: center;
        transition: 0.3s;

    &:hover{
         background-color: #6c8eb2;
     }
    }


    }


    }

    .nav{

        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        padding: 10px;

    a{
        display: block;
        width: 100%;
        text-align: start;
        text-decoration: none;
        color: white;
        padding: 7px 7px 7px 14px;
        border-radius: 13px;
        letter-spacing: 2px;
        font-weight: 600;
    //background: #7ba2c3;

    &:hover{
         background: #7ba2c3;
     }

    i{
        margin-right: 25px;
    }

    &.home{

    i{
        color: lawngreen;
    }
    }

    &.about-us{

    i{
        color: #e7374e;

    }
    }
    }




    }

    .contact-apps-container{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 10px;
        padding: 10px;

    i{
        font-weight: 500;
        font-size: 24px;
        cursor: pointer;
    }

    .whatsapp-link{

    i{
        color: #4caf50;

    }
    }

    .tiktok-link{
    i{

        color: black;
    }
    }

    .insta-link{
    i{
        color: #E1306C;
    }
    }
    }
    }

</style>
<div class="aside">

    {% if not app.user %}
        <div class="aside-login">

            <h3>Login</h3>
            <h4>Login to get access to our online store</h4>
            <a href="{{ path('app_login') }}">Login</a>

        </div>

    {% else %}

        <div class="aside-user-info">

            <span class="user-first-letter">{{ app.user.firstName|slice(0, 1)|capitalize }}</span>
            <span class="user-full-name">{{ app.user.firstName|capitalize }} {{ app.user.lastName|title }}</span>

            <span class="balance">{{ app.user.currentBalance }} <i
                        class="fa-solid fa-dollar-sign"></i></span>

            <div class="user-more">

                <a href='{{ path('app_user_profile') }}' class="user-profile">

                    <i class="fa-regular fa-user"></i>

                </a>
                <a href='{{ path('app_logout') }}' class="logout">

                    <i class="fas fa-sign-out-alt"></i>

                </a>
            </div>
        </div>



    {% endif %}

    <hr style="width: 100%">

    <div class="nav">

        <a href="/" class="home"><i class="fa-solid fa-house"></i> <span>Home</span></a>
        <a href="/about-us" class="about-us"><i class="fa-solid fa-user-gear"></i> <span> About Us</span></a>

    </div>


    <hr style="width: 100%">


    <div class="contact-apps-container">

        <a class="whatsapp-link" href="https://wa.me/96176686498/?text=Hello Blue Wave Team!"><i class="fa-brands fa-whatsapp"></i></a>
        <a class="tiktok-link" href="https://www.tiktok.com/@blue.wave.tecno.center"><i class="fa-brands fa-tiktok"></i></a>
        <a class="insta-link" href="https://www.instagram.com/bluewave_techno_center"><i class="fa-brands fa-instagram"></i></a>


    </div>
</div>

<script>
    const links = document.querySelectorAll([ 'a.home' , 'a.about-us']);
    let pageTitle = document.querySelector('title').innerHTML;

    if(pageTitle === 'Home'){
        links[0].style.backgroundColor = 'rgb(90 121 147)';
    }else{
        links[0].style.backgroundColor = 'transparent';

    }

</script>
