{% block body %}

    <div class="header-container">
        <img src="" alt="logo">

        <div class="menu-container">
            <div class="menu-btn">
                <div class="menu-btn__burger">
                </div>
            </div>
        </div>

        {% if not app.user %}

        <nav class="justify-content-evenly nav-header">

            {% else %}
            <nav class="nav-header">
                {% endif %}

                <a href="{{ path('app_home') }}">Home</a>
                <a href="#">Accessories</a>

                {% if not app.user %}

                    <a href="{{ path("app_login") }}">Login</a>
                    <a href="{{ path("app_register") }}">Register</a>

                {% endif %}

                {% if app.user %}

                    <a href="{{ path('app_my_orders') }}">My orders</a>

                    {% if is_granted("ROLE_ADMIN") %}
                        <a href="/admin">Administration</a>
                    {% endif %}

                    <a href="{{ path('app_user_profile') }}" class="element-1">Your profile</a>
                    <a href="{{ path('app_user_profile_edit')  }}" class="element-2">Edit your profile</a>
                    <a href="{{ path('app_logout') }}" class="element-3">logout</a>
                    <div class="responsive-user-div w-100 d-block d-lg-none p-1 overflow-hidden" style="max-width: 300px">
                        <span class="currentBalance text-white me-1" >{{ app.user.currentBalance }}$</span>
                        <span
                                class="userName">{{ app.user.firstName }} {{ app.user.lastName }}</span>
                    </div>

                    <div class="container-dropDown">
                        <div class="drop">
                            <input id="toggle" type="checkbox" checked>
                            <h5 class="toto"><span class="currentBalance">{{ app.user.currentBalance }}$</span>
                                <span
                                        class="userName">{{ app.user.firstName }} {{ app.user.lastName }}</span><span
                                        class="arrow"></span></h5>
                            <ul id="dropList">
                                <li><a href="{{ path('app_user_profile') }}" class="">Your profile</a></li>
                                <li><a href="{{ path('app_user_profile_edit')  }}" class="">Edit your profile</a></li>
                                <li><a href="{{ path('app_logout') }}" class="">logout</a></li>

                            </ul>
                        </div>

                    </div>

                {% endif %}


            </nav>


    </div>





{% endblock %}
