{% extends 'base.html.twig' %}


{% block body %}

    {% if(categories) %}
    <a href="/shopping-basket">
        <img class='shopping-basket' src ='{{  asset("assets/images/static/shoppingBasket.png") }}' alt="Shopping Basket Image">
    </a>

        {% for category in categories %}

            <section class="d-flex flex-column px-2 acc-container">
                {% if category.items|length %}

                    <h2 class="text-center text-white p-2">{{ category.name }}</h2>

                    <div class="d-flex flex-row flex-wrap gap-2 justify-content-center">


                        {% for item in category.items %}


                            <a class="product-container">

                                <div class="product">
                                    <h6>{{ item.price|removeTrailingZeros }} $</h6>

                                    {% if item.url %}
                                        <img class="" src="{{ asset('assets/images/accessories/') }}{{ item.url }}"
                                             alt="{{ item.name }}">

                                    {% else %}
                                        <img class="" src="{{ asset('img.png') }}"
                                             alt="{{ item.name }}">

                                    {% endif %}
                                    <img class="add-to-shopping-basket" data-id="{{ item.id }}" src="{{ asset('assets/images/static/addToShoppingBasket.png') }}">

                                    <h6>{{ item.name }}</h6>


                                </div>
                            </a>

                        {% endfor %}
                    </div>




                {% endif %}
            </section>
        {% endfor %}

    {% else %}

        <h2>No accessories to be shown</h2>

    {% endif %}


{% endblock %}
