{% extends 'base.html.twig' %}


{% block body %}

    {% if(categories) %}


        {% for category in categories %}

            <section class="d-flex flex-column px-2 acc-container">
                {% if category.accessories|length %}

                    <h2 class="text-center text-white p-2">{{ category.name }}</h2>

                    <div class="d-flex flex-row flex-wrap gap-2 justify-content-center">


                        {% for acc in category.accessories %}


                            <a class="product-container" href="accessories-checkout?c={{ acc.id }}">

                                <div class="product">
                                    <h6>{{ acc.price|removeTrailingZeros }} $</h6>

                                    {% if acc.url %}
                                        <img class="" src="{{ asset('assets/images/accessories/') }}{{ acc.url }}"
                                             alt="{{ acc.name }}">

                                    {% else %}
                                        <img class="" src="{{ asset('img.png') }}"
                                             alt="{{ acc.name }}">

                                    {% endif %}
                                    <h6>{{ acc.name }}</h6>

                                </div>
                            </a>

                        {% endfor %}
                    </div>




                {% endif %}
            </section>
        {% endfor %}

    {% else %}

        <h2>No accessories to be shown</h2>

    {% endif %}

{% endblock %}
