{% extends 'base.html.twig' %}

{% block body %}
    {% if emails %}

        {{ form_start(form , {
            "attr" : { "class" : "w-fit mx-auto"}
        }) }}
        {% if not form.vars.valid %}
            <div class="alert alert-danger form-errors">
                {{ form_errors(form) }}
                {% for children in form.children %}
                    {% if not children.vars.valid %}
                        {{ form_errors(children) }}
                    {% endif %}
                    {% for child in children %}
                        {% if not child.vars.valid %}
                            {{ form_errors(child) }}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
        {% endif %}

        {{ form_label(form.user) }}
        <br>
        {{ form_widget(form.user) }}
        <br>
        {{ form_label(form.amount) }}
        <br>
        {{ form_widget(form.amount) }}
        <br>
        {{ form_label(form.transactionType) }}
        <br>
        {{ form_widget(form.transactionType) }}
        <br>

        <button type="submit" class=" btn btn-success mx-auto my-2 d-block">Add</button>

        {{ form_end(form) }}

    {% else %}

        <h2 class="w-fit mx-auto text-center">No Users</h2>

    {% endif %}

{% endblock %}
