{% extends 'base.html.twig' %}


{% block body %}
    {{ form_start(form , {'attr' : {"class" : "edit-profile-form w-fit mx-auto mt-3 d-flex flex-column gap-3"}}) }}
    {% if not form.vars.valid %}
        <div class="alert alert-danger">
            {{ form_errors(form) }}
            {% for children in form.children %}
                {% if not children.vars.valid %}
                    {{ form_errors(children) }}
                {% endif %}
                {% for child in children %}
                    {% if not child.vars.valid %}
                        {{ form_errors(child) }}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
    {% endif %}
    {{ form_row(form.firstName) }}
    {{ form_row(form.lastName) }}
    {{ form_row(form.phoneNumber) }}


    <button type="submit" class="btn btn-success m-auto d-block mt-3 w-100">Save</button>
    <a href="../change-password" class="d-block mx-auto btn btn-danger w-100">Change password ?</a>

    {{ form_end(form) }}

{% endblock %}
