{% extends 'base.html.twig' %}



{% block body %}

    {% if pendingOrders %}

        {% for pendingOrder in pendingOrders %}

            <table class="col-7 mb-3">

                <tr>
                    <th>Client Email:</th>
                    <td><a href="user/{{ pendingOrder['user_id'] }}">{{ pendingOrder['email']}}</a></td>
                </tr>

                <tr>
                    <th>Item Name:</th>
                    <td>{{ pendingOrder['item'] }}</td>
                </tr>

                <tr>
                    <th>Total Price:</th>
                    <td>{{ pendingOrder['total_price']|removeTrailingZeros }}</td>
                </tr>

                <tr>
                    <th>Quantity:</th>
                    <td>{{ pendingOrder['quantity'] }}</td>
                </tr>

                {% if pendingOrder['params_entered'] %}
                <tr>
                    <th>Params Entered:</th>
                    <td>{{ pendingOrder['params_entered']|slice(0,-1) }}</td>
                </tr>

                {% endif %}


                <tr>
                    <th>Unit Price:</th>
                    <td>{{ pendingOrder['price']|removeTrailingZeros }}</td>
                </tr>

                <tr>
                    <th>Date:</th>
                    <td>{{ pendingOrder['created_at'] | date }}</td>
                </tr>


            </table>
            <div class="w-fit mx-auto mt-2 mb-5">
            <a href="{{ path('app_order_confirmation_rejected' , {'id' : pendingOrder['_order_id']}) }}" class="btn-danger btn w-fit  ">Reject</a>
            <a href="{{ path('app_order_confirmation_confirmed' , {'id' : pendingOrder['_order_id']}) }}" class="btn-success btn w-fit">Confirm</a>
            </div>

        {% endfor %}

    {% else %}
        <h2 class="w-fit mx-auto mt-2 text-white text-center px-2">No pending orders to display</h2>
    {% endif %}

{% endblock %}
