{% extends 'base.html.twig' %}


{% block body %}

    <a href="/shopping-basket">

        <i class="fa-solid fa-basket-shopping shopping-basket"></i>
    </a>

    {{ form_start(form , {"attr" : { "class" : "edit-password-form w-fit mx-auto text-white d-flex flex-column gap-2 mt-2 p-3"}}) }}
    {% if not form.vars.valid %}
        <div class="alert alert-danger">
            {{ form_errors(form) }}
            {% for children in form.children %}
                {% if not children.vars.valid %}
                    {{ form_errors(children) }}
                {% endif %}
                {% for child in children %}
                    {% if not child.vars.valid %}
                        {{ form_errors(child) }}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
    {% endif %}
    {{ form_row(form.password) }}
    {{ form_row(form.currentPassword) }}


    <button type="submit" class="btn btn-success">Save</button>
    <a class="btn btn-danger" href="/">Cancel</a>

    {{ form_end(form) }}

{% endblock %}
