{% extends 'base.html.twig' %}


{% block body %}

    {% if item %}
        <div class="row">

            <section class="checkout-section w-50 p-0">
                <h3 class="col-12 m-0">{{ item.name }}</h3>


                {{ form_start(form ,{
                    "attr" : {"class" : "package-checkout-form"}
                }) }}

                {% if min and max %}

                    {% if max == 1 %}
                        <div class="range">
                            Only one item in a time
                        </div>
                    {% else %}
                        <div class="range">
                            <b>Min</b> :{{ min }} <span>&#8594;</span>
                            <b>Max</b>: {{ max }}
                        </div>
                    {% endif %}
                {% endif %}

                <div class="inputs-div">

                    {% for param in params %}
                        {% set paramWithoutSpaces = param.name|replace({' ': ''}) %}

                        {{ form_row(form[paramWithoutSpaces]) }}


                    {% endfor %}

                    {% if min and max and min != max and max != 1 %}
                        {{ form_row(form.quantity) }}


                    {% endif %}
                </div>

                <div class=" bottom d-flex flex-column">
                    {% if min and max %}
                        <h5><span class="price">{{ item.price * min }}$</span></h5>
                    {% else %}
                        <h5><span class="price">{{ item.price }}$</span></h5>

                    {% endif %}

                    <button type="submit" class="buy">Buy</button>

                    <a class="back" href="/view-product?c={{ item.category.id }}">Back</a>
                </div>
                {{ form_end(form) }}
            </section>
        </div>

    {% endif %}

{% endblock %}
